@page "/TogglePasswordInput"

<h1>Toggle Password Input</h1>

<div class="mb-2">
    <button type="button" class="btn btn-primary" @onclick="@(() => _disabled = !_disabled)">
        Toggle Enabled/Disabled State
    </button>
</div>

<div class="mb-2">
    <label for="toggle-password-input">
        Password
    </label>

    <TogglePasswordInput 
        Class="@(_disabled ? "" : "form-control")"
        Disabled="_disabled"
        DisabledIconsAtEnd="false"
        IconCopyToClipboard="fa-regular fa-copy"
        IconHidePassword="fa-regular fa-eye-slash"
        IconShowPassword="fa-regular fa-eye"
        Id="toggle-password-input" 
        OnChange="OnPasswordChanged"
        OnToggledShowPassword="OnToggledShowPassword"
        PasswordCopiedToClipboard="OnPasswordCopiedToClipboard"
        Placeholder="Enter a Password"
        RequiredClass="missing-empty"
        ShowCopyPasswordButton="true"
        ShowPassword="_show"
        TextCopyToClipboard="Copy to Clipboard"
        TextHidePassword="Hide Password"
        TextShowPassword="Show Password"
        UseBootstrapInputGroup="true"
        Value="@_password"
        />
</div>

<div class="mb-2">
    <strong>Showing Password</strong><span>:&nbsp;</span><span>@_show.ToString().ToUpper()</span>
</div>

@if (!String.IsNullOrWhiteSpace(_results)) {
    <div class="mb-2">
        <strong>Results</strong><span>:&nbsp;</span><span>@_results</span>
    </div>
}


@code {
    protected bool _disabled { get; set; }
    protected string _password = "password";
    protected string _results = "";
    protected bool _show = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) {

        }
    }

    protected void OnPasswordChanged(string newPassword)
    {
        _results = newPassword;
        StateHasChanged();
    }

    protected void OnPasswordCopiedToClipboard()
    {
        _results = "Password Copied to Clipboard at " + DateTime.Now.ToString();
        StateHasChanged();
    }

    protected void OnToggledShowPassword(bool show)
    {
        _show = show;
        StateHasChanged();
    }
}
